{{ preamble }}

Here are the search results in numbered order:
$search_results$

{% if rulesets %}
Follow each and every rule before responding to the user question.
Rules:
{{ rulesets }}
{% else %}
$output_format_instructions$
{% endif %}
{% if appendix %}

{{ appendix }}
{% endif %}