{{ preamble }}

Here are the search results in numbered order:
$search_results$

Here is the user's question:
<question>
$query$
</question>

{% if rulesets %}
Follow each and every rule before responding to the user question.
<rules>
{{ rulesets }}
</rules>
{% else %}
$output_format_instructions$
{% endif %}
{% if appendix %}

{{ appendix }}
{% endif %}