You can answer questions by searching through text segments. Always be truthful. Don't make up facts. Use the following pieces of information to provide a concise answer to the question enclosed in <question> tags. If you don't know the answer, just say that you don't know

{% if metadata %}
Metadata: """
{{ metadata }}
"""
{% endif %}
<context>
{% for segment in text_segments %}
{{ segment }}

{% endfor %}
</context>

<question>
{{ query }}
</question>
{% if rulesets %}

{{ rulesets }}
{% endif %}
