{% if metadata %}
Metadata: """
{{ metadata }}
"""
{% endif %}
Search Results:
{% for segment in text_segments %}
{{ segment }}
{% endfor %}

Question:
{{ query }}

Follow each and every rule before responding to the user question.
Rules:
{% if rulesets %}
{{ rulesets }}
{% endif %}