{{ preamble }}
{% if metadata %}
Metadata: """
{{ metadata }}
"""
{% endif %}
<search_results>
{% for segment in text_segments %}
{{ segment }}
{% endfor %}
</search_results>
Here is the user's query:
<query>
{{ query }}
</query>
{% if rulesets %}
{{ rulesets }}
{% endif %}